.checkboxes{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8{
  overflow-y: scroll;
}

.sotial-width {
  width: 80px;
}

.comment-width{
  min-width: 300px;
  max-width: 300px;
}

.sotial-phone{
  min-width: 150px;
}


